.scroll-table{
  overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
  height: 400px; /* gives an initial height of 200px to the table */
}
.scroll-table thead th {
  background-color: rgb(214, 207, 113);
  height: 100px;
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
  border: 1px solid #000000;
}
.scroll-table table {
  border-collapse: collapse; /* make the table borders collapse to each other */
  width: 100%;
}
.scroll-table th,
td {
  padding: 8px 16px;
  border: 1px solid #130505;
}
.detailtable-row {
  cursor: pointer;
}